@import "./reset.css";

:root {
  --maincolor: #ffafcc;
  --subcolor01: #ffc8dd;
  --backgroundcolor: #f8edeb;
  --maincolor02: #a2d2ff;
  --subcolor02: #bde0fe;
  --subcolor03: #cdb4db;
}

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OAGothic-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@keyframes img-updown {
  0% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  /* background-color: var(--backgroundcolor); */
  font-family: Dovemayo_gothic;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem;

  font-family: "OAGothic-ExtraBold";
}

header {
  background-color: var(--maincolor);
}

footer {
  background-color: var(--maincolor02);
}

.section_title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;

  background-color: var(--maincolor);
}

.section_title {
  color: white;
  text-shadow: 2px 2px 2px var(--subcolor03);
}

/* 미리보기 */
.scroll {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

#preview img {
  width: 15rem;
  height: 20rem;

  margin: 1.5rem 0.5rem;
}

#preview img:hover {
  animation: img-updown 1s;
}

.scroll::-webkit-scrollbar {
  border: 2px solid var(--subcolor03);
  border-radius: 10px;
  height: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--subcolor01);

  border-radius: 10px;
}

/* 목차 */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  gap: 0.5rem;
  padding: 0.2rem;
  background-color: var(--subcolor03);
  color: white;
}

nav article {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--subcolor01);
}

nav > article a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px var(--maincolor);
  cursor: pointer;
}

nav article a:hover {
  text-decoration: underline;
  color: var(--subcolor03);
  text-shadow: 1px 1px 1px var(--maincolor);
  cursor: pointer;
}

/* 첫번째 섹션 */
#first_section {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  width: 80rem;
}

#first_section img {
  width: 15rem;
  height: 15rem;
}

.first_pic_wrapper {
  display: flex;
  flex-wrap: wrap;

  gap: 0.2rem;
}

.first_section_pic {
  cursor: pointer;
  position: relative;
}

.addTitle {
  cursor: pointer;
  filter: brightness(80%);
}

.title_summary_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 0.5rem;
  z-index: 999;
}

.title {
  display: flex;
  justify-content: center;

  color: white;
  width: 8rem;
}

.summary {
  color: white;
  height: 3rem;
}

@media screen and (max-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #first_section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin: 0rem 5rem;
    width: 60rem;
  }
  #first_section img:nth-child(-n + 9) {
    width: calc(60rem-5% / 4);
  }
  #first_section img:last-child {
    width: 80%;
  }
}

@media (max-width: 768px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #first_section {
    width: 40rem;
  }
  #first_section img {
    width: 100%;
  }
}

/* 두번째 섹션 */
#second_section {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.second_pic_wrapper {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#big_pic {
  width: 36rem;
  height: 34rem;
}

.small_pic {
  width: 15rem;
  height: 15rem;
}

.small_pic_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 3rem;

  width: 36rem;
  height: 36rem;
}

@media screen and (max-width: 1024px) {
  .second_pic_wrapper {
    display: flex;
    flex-direction: column;
  }
  #big_pic {
    width: 30rem;
    height: 30rem;
  }
}

@media (max-width: 768px) {
  .second_pic_wrapper,
  .small_pic_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: auto;
  }

  .second_pic_wrapper {
    gap: 3rem;
  }

  #big_pic,
  .small_pic {
    width: 10rem;
    height: 10rem;
  }
}

/* 세번째 섹션 */
#third_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#third_pic_wrpper {
  display: grid;

  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
  grid-template-rows: repeat(4, 10rem);
  grid-template-columns: repeat(4, 15rem);

  margin-bottom: 2rem;
}

#third_pic_wrpper div:first-child {
  grid-row: 1/2;
  grid-column: 1/3;
  overflow: hidden;
}

#third_pic_wrpper div:nth-child(2) {
  grid-row: 2/3;
  grid-column: 1/3;
  overflow: hidden;
}

#third_pic_wrpper div:nth-child(3) {
  grid-row: 1/3;
  grid-column: 3/5;
  overflow: hidden;
}

#third_pic_wrpper div:nth-child(4) {
  grid-row: 3/5;
  grid-column: 1/4;
  overflow: hidden;
}

#third_pic_wrpper div:last-child {
  grid-row: 3/5;
  grid-column: 4/5;
  overflow: hidden;
}

.third_section_imgs {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 맨 위로 버튼 */
#gotop_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 5px;
  left: 5px;

  border-radius: 50%;
  border: 3px solid var(--subcolor03);

  background-color: var(--subcolor02);

  font-family: Dovemayo_gothic;

  opacity: 0;
  transition: opacity 0.3s;
}
