@import "./reset.css";

:root {
  --maincolor: #ffafcc;
  --subcolor01: #ffc8dd;
  --backgroundcolor: #f8edeb;
  --maincolor02: #a2d2ff;
  --subcolor02: #bde0fe;
  --subcolor03: #cdb4db;
}

@font-face {
  font-family: "Dovemayo_gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OAGothic-ExtraBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-style: normal;
}

@keyframes img-updown {
  0% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  background-color: var(--backgroundcolor);
  font-family: Dovemayo_gothic;
}

header,
footer {
  display: flex;
  justify-content: center;

  padding: 2rem;
  width: 80rem;
  font-family: "OAGothic-ExtraBold";
}

header {
  background-color: var(--maincolor);
}

footer {
  background-color: var(--maincolor02);
}

.section_title_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;

  background-color: var(--maincolor);
}

.section_title {
  color: white;
  text-shadow: 2px 2px 2px var(--subcolor03);
}

/* 미리보기 */
.scroll {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

#preview img {
  width: 15rem;
  height: 20rem;

  margin: 1.5rem 0.5rem;
}

#preview img:hover {
  animation: img-updown 1s;
}

.scroll::-webkit-scrollbar {
  border: 2px solid var(--subcolor03);
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: var(--subcolor01);
  border-radius: 10px;
}

/* 목차 */
nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  gap: 0.5rem;
  background-color: var(--subcolor03);
  color: white;
}

nav ul {
  display: flex;
  gap: 1rem;
  color: var(--subcolor01);
}

ul li:hover {
  text-decoration: underline;
  color: white;
  text-shadow: 1px 1px 1px var(--maincolor);
  cursor: pointer;
}

/* 첫번째 섹션 */
#first_section {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  gap: 0.2rem;
  width: 80rem;
}

#first_section img {
  width: 15rem;
  height: 15rem;
}

/* 두번째 섹션 */
#second_section {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.second_pic_wrapper {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#big_pic {
  width: 36rem;
  height: 34rem;
}

.small_pic {
  width: 15rem;
  height: 15rem;
}

.small_pic_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  gap: 3rem;

  width: 36rem;
  height: 36rem;
}

/* 세번째 섹션 */
#third_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#third_pic_wrpper {
  display: grid;

  grid-row-gap: 0.5rem;
  grid-column-gap: 1rem;
  grid-template-rows: repeat(4, 10rem);
  grid-template-columns: repeat(4, 15rem);

  margin-bottom: 2rem;
}

#third_section article:nth-child(1) {
  height: auto;
  grid-row: 1/2;
  grid-column: 1/3;

  background-size: contain;
  background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fcafefiles.naver.net%2F20150523_100%2Fjjun02026_1432388973865UnATH_JPEG%2F%25B8%25BB%25B8%25AE5_%25282%2529.JPG&type=sc960_832);
}

#third_section article:nth-child(2) {
  height: auto;
  grid-row: 2/3;
  grid-column: 1/3;
  background-size: contain;

  background-image: url(https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1562248852-58987553bd46%3Fixlib%3Drb-4.0.3%26ixid%3DM3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHx8%26w%3D1000%26q%3D80&type=sc960_832);
}

#third_section article:nth-child(3) {
  grid-row: 1/3;
  grid-column: 3/5;
  background-size: contain;
  background-image: url(https://github.com/DO-SOPT-WEB/HyeinKwon/assets/100409061/245f9c33-bcc6-4866-9bbb-3a03b32211e6);
}

#third_section article:nth-child(4) {
  grid-row: 3/5;
  grid-column: 1/3;
  background-size: contain;
  background-image: url(https://search.pstatic.net/sunny/?src=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1603349136113-3438474341db%3Fixlib%3Drb-4.0.3%26ixid%3DM3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHx8%26w%3D1000%26q%3D80&type=sc960_832);
}

#third_section article:last-child {
  grid-row: 3/5;
  grid-column: 3/5;

  background-size: contain;
  background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMzA2MDhfMjAx%2FMDAxNjg2MTUxNzYwMTM5.OX9clV0hZRgGlIGS8khnHGWFyiXr16BJAx20deMrc7cg.njbyKpjrQac2FVLNIh03UIWEr0eMg4snIidQ0h3L2aAg.JPEG.dbwls8417%2FIMG_4714.jpg&type=sc960_832);
}

/* 맨 위로 버튼 */
#gotop_btn {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 5px;
  left: 5px;

  border-radius: 50%;
  border: 3px solid var(--subcolor03);

  background-color: var(--subcolor02);

  font-family: Dovemayo_gothic;
}
